$("#tasks-container-today").append("<%= escape_javascript(render('tasks/task_part', task: @task)) %>");
$("#task-form").find(':text').val("");
$("#today").attr("checked", false);
$("header").after('<div class="flash" id="notice">「<%= @task.content %>」を追加しました</div>');
$('#notice').fadeOut(3000);
