$("#whole-task_<%=@task.id%>").remove();
$("#tasks-container-tomorrow").append("<%= escape_javascript(render('tasks/task_part', task: @task)) %>");
$("header").after('<div class="flash" id="notice">「<%= @task.content %>」を編集しました</div>');
$('#notice').fadeOut(3000);
