.search-form {
  max-width: 300px;
  height: 64px;
  padding: 15px 10px;
  float: right;
  display: block;
}

.search-input {
  width: 200px;
  border: 2px solid #d8dadf;
  background-color: white;
  margin-right: 10px;
  color: #57575f;
  font-size: 12px;
  letter-spacing: 0px;
  border-radius: 2px;
  float: left;
  height: 30px;
  font-size: 10px;
  letter-spacing: 2px;
}

.search-button {
  background-color: white;
  color: #4c4948;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 300;
  width: 45px;
  height: 20px;
  margin-top: 6px;
  float: left;
}


.task-form {
  max-width: 450px;
  height: 110px;
  margin: 20px auto 0 auto;
  background-color: white;
  border: 1px solid #c1ced7;
  border-radius: 3px;
  padding: 10px 35px;
}

.task-form p{
  font-size: 14px;
  color: #C1CED7;
  margin-bottom: 1px;
  font-weight: 400;
}

.task-input {
  width: 378px;
  height: 30px;
  border: 2px solid #d8dadf;
  padding: 0px;
  color: #4c4948;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 0px;
  display: block;
}

.task-radio-button {
  margin: 10px 5px 0 10px;
  float: right;
  line-height: 30px;
}

.task-add-button {
  background-color: #007BF9;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 50px;
  height: 25px;
  border-radius: 2px;
  margin-top: 10px;
  margin-left: 10px;
  float: right;
  padding: 3px
}

.tasks-area {
  width: 100%;
  min-height: 100%;
  margin: 10px auto;
}

.tasks-container {
  width: 32%;
  min-height: 600px;
  margin: 10px 0.66%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  align-items: center;
  border-radius: 5px;
  // border: 2.0px solid #C1CED7;
  // border-radius: 10px;
}

.title{
  margin: 15px 0 20px 0;
  font-size: 20px;
  color:  #808085;
  border-bottom: 1.5px solid #838388;
}

.tasks-index-item {
  width: 95%;
  height: 30px;
  padding: 10px 30px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  overflow: hidden;
  border:0.5px solid #c1ced7;
  border-radius: 8px;
  box-shadow: 0 0 0 0.2px;
}

.tasks-index-item:hover {
  font-weight: bold;
  background-color: #e9ecee;
}

.task-left {
  width: 10%;
  float: left;
  line-height: 10px;
  color: #4c4948;
}

.task-right {
  cursor: text;
  width: 90%;
  font-size: 12px;
  float: left;
  padding-left: 10px;
  text-align: left;
  line-height: 12px;
}

.task-edit {
  width: 351px;
  height: 31px;
  padding: 0 22px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  border:0.5px solid #c1ced7;
  border-radius: 8px;
  box-shadow: 0 0 0 0.2px;
  float: left;
  display: none;
}

.task-edit-input {
  float: left;
  margin: 4px 0;
  border: 1px solid #d8dadf;
  padding: 0px;
  color: #57575f;
  font-size: 12px;
  letter-spacing: 0px;
  border-radius: 2px;
  width: 170px;
  height: 23px;
  font-size: 10px;
  letter-spacing: 0px;
  display: block;
}
.task-edit-when_to {
  float: left;
  margin: 7px;
  font-size: 12px;
  color: #4c4948;
}

.task-add-button_edit {
  background-color: #007BF9;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 45px;
  height: 20px;
  border-radius: 2px;
  float: left;
  padding: 1.5  px;
  margin: 5px 0;
}

.x-button {
  cursor: pointer;
  position: absolute;
  width: 10%;
  float: right;
  line-height: 20px;
  margin-left: 310px;
  color: #4c4948;
}

.task-input-title {
  font-size: 13px;
  color: #4c4948;
}

.radio-factor {
  color: #54AEFB;
  font-size: 10.5px;
  margin-left: 10px;
  display: block;		/* ブロックレベル要素化する */
	float: left;		/* 要素の左寄せ・回り込を指定する */
	width: 65px;		/* ボックスの横幅を指定する */
	height: 25px;		/* ボックスの高さを指定する */
	padding-left: 5px;	/* ボックス内左側の余白を指定する */
	padding-right: 5px;	/* ボックス内御右側の余白を指定する */
	text-align: center;	/* テキストのセンタリングを指定する */
	line-height: 25px;	/* 行の高さを指定する */
	cursor: pointer;	/* マウスカーソルの形（リンクカーソル）を指定する */
	border: 1.0px solid #54AEFB;/* ボックスの境界線を実線で指定する */
	border-radius: 5px;	/* 角丸を指定する */
}

.radio-factor:hover {
  color: #54AEFB;
  font-size: 10.5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #e9ecee;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: #54AEFB;
  font-weight: bold;
  font-size: 10.5px;
  cursor: pointer;
  background-color: #e9ecee;
}
